@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

html,
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

*,
body,
html {
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

:root {
  --primary-color: #4f6d7a;
  --primary-light-color: #dbe9ee;
  --purple: #abc4ff;
  --green: #76c893;
  --orange: #ff9100;
  --red: #ff4800;

  --primary-text-color: #3d3d3d;
}
